{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="container mt-4">
  <h1 class="display-4 text-center">
    <i class="fas fa-book-open text-primary"></i>Leases<span class="text-primary"></span></h1>

  <div class="search">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search"><br><br>
  </div>

  <form id="book-form" action="/leases" method="post">
    <div class="form-group">
      <label for="enddate">End Date</label>
      <input type="date" name="enddate" class="form-control">
    </div>
    <div class="form-group">
      <label for="length">Length</label>
      <input type="number" name="length" class="form-control">
    </div>
    <div class="form-group">
      <label for="rent">Rent</label>
      <input type="number" name="rent" class="form-control">
    </div>
    <input type="submit" value="Add Lease" class="btn btn-primary btn-block btn-success">
  </form>

  <div class="box1">
    <br>
    <div align='center'>

      <table class="table table-striped mt-5">
        <thead class='table-dark'>
          <tr>
            <th>Lease ID</th>
            <th>End Date</th>
            <th>Length</th>
            <th>Rent</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for lease in leases %}
        <tr class='table-active'>
          <td>
            {{ lease[0] }}
          </td>
          <td>
            {{ lease[1] }}
          </td>
          <td>
            {{ lease[2] }}
          </td>
          <td>
            {{ lease[3] }}
          </td>
          <td>
            <a class="btn btn-warning" href="{{ url_for('editlease'), Lease_ID=lease[0] }}">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{{ url_for('deletelease', Lease_ID=lease[0]) }}" method='post'>Delete</a>
            </td>
        </tr>
        
        {% endfor %}
        <tbody id=" book-list"></tbody>
      </table>
    </div>

    {% endblock %}